.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  position: absolute;
  top: 10%;
  left: 35%;
  transform: translateX(50%) translateY(50);
  max-width: 500px;
}
.menu-item {
    transition: 0.2s all ease-in;
}
.menu-item:hover {
    color: #1976d2;
    border-bottom: 1px solid #1976d2;
    /*color: #fff;*/
}
.addQuestionContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    max-width: 100vw;
    height: 100vh;
}
.form-input {
  margin: 20px 0;
  width: 100%;
}

.submit-button {
  margin-top: 20px;
  align-self: flex-end;
}
